# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
.env

# ROS2 / colcon
build/
install/
log/

# IDE
.vscode/
.idea/

# Vídeos y artefactos pesados (ver LFS abajo)
*.mp4
*.avi
*.mkv
*.mov

# Otros
.DS_Store
